@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

:root {
  --color-primary: #114654;
  --color-secondary: #6c6c6c;
}

.text-primary {
  color: var(--color-primary) !important;
}


.text-secondary {
  color: var(--color-secondary) !important;
}

.decoration-primary {
  text-decoration-color: var(--color-primary) !important;
}

.bg-primary {
  background: var(--color-primary) !important;
}
.btn-bg {
  background: var(--color-primary) !important;
  border-radius: 4rem;
}

@keyframes accordion-down {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 500px; 
    opacity: 1;
  }
}

@keyframes accordion-up {
  from {
    max-height: 500px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

[data-state="open"] {
  animation: accordion-down 0.3s ease-out forwards;
}

[data-state="closed"] {
  animation: accordion-up 0.3s ease-out forwards;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;  
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

